<div class="row">
	<div class="col-sm-3">
		<label for="home_library" id="home_library_list">Filter by Home Library:</label>
		<select class="form-control" id="home_library" onchange="update_filter()">
			<% @home_libraries_filter.each do |l| %>
	  			<option value="<%= l[:value] %>" <%= filter_select_helper(@location, l[:value]) %>><%= l[:text] %></option>
	  		<% end %>
		</select>
	</div>
	<div class="col-sm-3">
		<label for="club"  id="club_list">Filter by Club:</label>
		<select class="form-control" id="club" onchange="update_filter()">
			<option value="all" <%= filter_select_helper(@club, 'all') %>>All</option>
	  		<option value="pre-readers" <%= filter_select_helper(@club, 'pre-readers') %>>Pre-Readers</option>
	  		<option value="readers" <%= filter_select_helper(@club, 'readers') %>>Readers</option>
	  		<option value="teens" <%= filter_select_helper(@club, 'teens') %>>Teens</option>
	  		<option value="adults" <%= filter_select_helper(@club, 'adults') %>>Adults</option>
		</select>
	</div>
</div>