<div id="registration">
	<h3>Register For Summer Reading Club 2021</h3>
	<br>
	<form>
		<div class="row">
			<div class="col-sm-4">
				<label for="first_name" class="required">First Name:</label>
				<input type="text" class="form-control" id="first_name">
			</div>
			<div class="col-sm-4">
				<label for="last_name">Middle Name <i>(optional)</i>:</label>
				<input type="text" class="form-control" id="middle_name">
			</div>
			<div class="col-sm-4">
				<label for="last_name" class="required">Last Name:</label>
				<input type="text" class="form-control" id="last_name">
			</div>
		</div>
		</br>
		<div class="row">
			<div class="col-sm-3">
				<label for="phone" class="required">Phone #:</label>
				<input type="tel" class="form-control" id="phone">
			</div>
			<div class="col-sm-5">
				<label for="email">Email Address <i>(optional)</i>:</label>
				<input type="email" class="form-control" id="email">
				<span><i>We will only use your email address to send weekly updates (6 emails in total) and to inform you when you have won a prize.</i></span>
			</div>
			<div class="col-sm-4">
				<label for="home_library" class="required" id="home_library_list">Home Library:</label>
				<select class="form-control" id="home_library">
					<% @home_libraries.each do |l| %>
	  					<option value="<%= l[:value] %>" <% if l[:code] == @home_library %> selected <% end %>><%= l[:text] %></option>
	  				<% end %>
				</select>
				<span>
					<i>To participate in Interlochen Public Library's or Peninsula Community Library's Summer Reading program, <a href="https://www.interlochenpubliclibrary.org/summer-reading-club">click here for Interlochen Public Library</a> or <a href="https://www.peninsulacommunitylibrary.org/summer-reading-2021">here for Peninsula Community Library</a>.
					</i>
				</span>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-6">
				<label for="first_name">Library Card # <i>(Required for Online Reporting):</i></label>
				<input type="tel" class="form-control" id="library_card" value="<%= @card %>">
        		<% if current_user %>
          			<a onclick="get_user_data()">Get Patron Data from Evergreen</a>
        		<% end %>
			</div>
		</div>
		<%
=begin%>
 <div class="row">
			<div class="col-sm-3">
				<img src="https://www.tadl.org/wp-content/uploads/2021/05/shirt_final2.png" class="img-responsive" style="max-height: 200px">
				<b>T-Shirt Design</b>
			</div>
			<div class="col-sm-3">
				<img src="https://www.tadl.org/wp-content/uploads/2021/05/patch2.png" class="img-responsive" style="max-height: 200px">
				<b>Patch Design</b>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<label for="shirt_size" class="required" id="shirt_size_label">Would you like a free patch or a free t-shirt:</label>
				<select class="form-control" id="shirt_size">
					<% @shirt_sizes.each do |s| %>
	  					<option value="<%= s[:value] %>"><%= s[:text] %></option>
	  				<% end %>
				</select>
			</div>
		</div> 
<%
=end%>
		<%
=begin%>
 <div class="row">
			<div class="col-sm-12">
				<div class="form-check">
	  				<input class="form-check-input" type="checkbox" value="true" id="wants_craft_kit">
	  				<label class="form-check-label" for="wants_craft_kit">
	   					 Check this box to request a Main Library/EBBL kids/teen craft kit.
	  				</label>
				</div>
			</div>
		</div> 
<%
=end%>
		<div class="row">
			<div class="col-sm-12">
			<label for="select_a_club" id="select_a_club" class="required">Select Which Club You Would Like to Join: </label>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<label class="radio-inline">
	  				<input type="radio" name="club" value="pre-readers" onchange="reset_school_type()" onclick="check_club(this)"> Pre-Readers <i>(ages 0-4)</i>
				</label>
			</div>
			<div class="col-sm-3">
				<label class="radio-inline">
	  				<input type="radio" name="club" value="readers" onchange="reset_school_type()" onclick="check_club(this)"> Readers <i>(ages 5-12)</i>
				</label>
			</div>
			<div class="col-sm-3">
				<label class="radio-inline">
	  				<input type="radio" name="club" value="teens" onchange="reset_school_type()" onclick="check_club(this)"> Teens <i>(ages 13-19)</i>
				</label>
			</div>
			<div class="col-sm-3">
				<label class="radio-inline">
	  				<input type="radio" name="club" value="adults" onchange="reset_school_type()" onclick="check_club(this)"> Adults <i>(ages 17+)</i>
				</label>
			</div>
		</div>
		</br>
		<div class="row" id="ask_grade_level" style="display:none">
			<div class="col-sm-12">
				<label id="school_type" for="school_type" class="required">Which type of school will you be attending in the fall?: </label>
			</div>
			</br>
			<div class="col-sm-3" id="pre_school_radio">
				<label class="radio-inline">
	  				<input type="radio" name="school_type" value="pre-school" onchange="reset_school_list()" onclick="check_school(this)"> Pre-School
				</label>
			</div>
			<div class="col-sm-3" id="elementary_school_radio">
				<label class="radio-inline">
	  				<input type="radio" name="school_type" value="elementary" onchange="reset_school_list()" onclick="check_school(this)"> Elementary School
				</label>
			</div>
			<div class="col-sm-3" id="middle_school_radio">
				<label class="radio-inline">
	  				<input type="radio" name="school_type" value="middle" onchange="reset_school_list()" onclick="check_school(this)"> Middle School
				</label>
			</div>
			<div class="col-sm-3" id="high_school_radio">
				<label class="radio-inline">
	  				<input type="radio" name="school_type" value="high" onchange="reset_school_list()" onclick="check_school(this)"> High School
				</label>
			</div>
			<div class="col-sm-3" id="college_radio">
				<label class="radio-inline">
	  				<input type="radio" name="school_type" value="college" onchange="reset_school_list()" onclick="check_school(this)"> College/Trade School
				</label>
			</div>
			<div class="col-sm-3">
				<label class="radio-inline">
	  				<input type="radio" name="school_type" value="none" onchange="reset_school_list()" onclick="check_school(this)"> None/Other
				</label>
			</div>
		</div>
		</br>
		<div class="row">
			<div class="col-sm-6" id="ask_youth_school" style="display: none">
				<label id="school_label" for="youth_school" class="school_list">What school will you be attending in the fall?</label>
				<select class="form-control" id="youth_school">
					<% @youth_schools.each do |s| %>
	  					<option value="<%= s[:value] %>"><%= s[:text] %></option>
	  				<% end %>
				</select>
			</div>
			<div class="col-sm-6" id="ask_teen_school" style="display: none">
				<label id="school_label" for="teen_school" class="school_list">What school will you be attending in the fall?</label>
				<select class="form-control" id="teen_school">
					<% @teen_schools.each do |s| %>
	  					<option value="<%= s[:value] %>"><%= s[:text] %></option>
	  				<% end %>
				</select>
			</div>
		</div>
		<div class="row" id="ask_send_school" style="display: none">
			<div class="col-sm-6">
				<div class="form-check">
	  				<input class="form-check-input" type="checkbox" value="true" id="send_to_school">
	  				<label class="form-check-label" for="send_to_school">
	   					 Send My Summer Reading Activity to My School
	  				</label>
				</div>
			</div>
		</div>
	</form>
	<div class="row">
		<% if current_user %>
			<div class="col-sm-3">
				<div class="form-check">
	  				<input class="form-check-input" type="checkbox" value="true" id="got_shirt">
	  				<label class="form-check-label" for="got_shirt">
	   					Received T-Shirt or Badge
	  				</label>
				</div>
			</div>
		<% end %>
		<div class="col-sm-12">
			<div class="col-sm-12" id="messages">
			</div>
			<button class="btn btn-success" onclick="register()">Register for Summer Reading</button>
		</div>
	</div>
</div>
<div id="confirmation" style="display:none">
	<div class="row">
		<h3>Thank You for Registering <span id="register_name"></span> for Summer Reading Club 2021!</h3>
		<p>Your welcome SwagBag will be ready for pickup at your home library on/after June 7.</p>
	</div>
	<div class="row">
		<button class="btn btn-primary btn-success" onclick="register_another()">
			Register Another Participant from Same Household
		</button>
	</div>
</div>
<script>
	function check_club(radio){
		if(radio.value == 'teens' || radio.value=="readers"){
			if(radio.value == 'teens'){
				$('#high_school_radio').show()
				$('#college_radio').show()
				$('#pre_school_radio').hide()
				$('#elementary_school_radio').hide()
			}
			if(radio.value == 'readers'){
				$('#pre_school_radio').show()
				$('#elementary_school_radio').show()
				$('#high_school_radio').hide()
				$('#college_radio').hide()
			}
			$('#ask_grade_level').show()
		}else{
			$('#ask_grade_level').hide()
			$('#ask_youth_school').hide()
			$('#ask_teen_school').hide()
			$('input[name=school_type]').attr('checked',false);
		}
	}

	function check_school(radio){
		if(radio.value == 'elementary'){
			$('#ask_youth_school').show()
			$('#ask_teen_school').hide()
			$('#ask_send_school').show()
		}else if(radio.value == 'middle' || radio.value == 'high'){
			$('#ask_teen_school').show()
			$('#ask_youth_school').hide()
			$('#ask_send_school').show()
		}else{
			$('#ask_youth_school').hide()
			$('#ask_teen_school').hide()
			$('#ask_send_school').hide()
		}
	}

	function reset_school_type(){
		$("input[name='school_type']").prop('checked', false);
		$('#youth_school').val('')
		$('#teen_school').val('')
		$('#ask_youth_school').hide()
		$('#ask_teen_school').hide()
	}

	function reset_school_list(){
		$('#youth_school').val('')
		$('#teen_school').val('')
	}

	function register(){
		missing_required = false
		first_name = $('#first_name').val()
		middle_name = $('#middle_name').val()
		last_name = $('#last_name').val()
		phone = $('#phone').val()
		email = $('#email').val()
		home_library = $('#home_library option:selected').val()
		shirt_size = $('#shirt_size option:selected').val()
		library_card = $("#library_card").val()
		club = $("input[name='club']:checked").val()
		school_type = $("input[name='school_type']:checked").val()
		send_to_school = $('#send_to_school:checked').val()
		got_shirt = $('#got_shirt:checked').val()
		wants_craft_kit = $('#wants_craft_kit:checked').val()
		school = null
		$('#select_a_club').css('color', 'black')
		$('.required').css('color', 'black')
		$('#school_type').css('color', 'black')
		$('.school_list').css('color', 'black')
		$('#home_library_list').css('color', 'black')
		$('#shirt_size_label').css('color', 'black')
		$('#messages').html('')
		if(first_name == '' || last_name == '' || phone == ''){
			missing_required = true
			$('.required').each(function(){
				if($(this).next().val() == ''){
					$(this).css('color', 'red')
				}
			});	
		}

		if(typeof club == 'undefined'){
			missing_required = true
			$('#select_a_club').css('color', 'red')
		}

		if(home_library == ''){
			missing_required = true
			$('#home_library_list').css('color', 'red')
		}
	
		if(shirt_size == ''){
			missing_required = true
			$('#shirt_size_label').css('color', 'red')
		}
		
		if(((club == 'teens' && school_type != 'college' )&&(club == 'teens' && school_type != 'none'))|| ((club == 'readers' && school_type != 'none')&&(club == 'readers' && school_type != 'pre-school'))){
			if(typeof school_type == 'undefined'){
				missing_required = true
				$('#school_type').css('color', 'red')
			}
			if(club == 'teens'){
				school = $('#teen_school option:selected').val()
			}
			if(club == 'readers'){
				school = $('#youth_school option:selected').val()
			}
			if(club == 'readers' && school_type == 'middle'){
				school = $('#teen_school option:selected').val()
			}
			if(school == ''){
				missing_required = true
				$('.school_list').css('color', 'red')
			}
		}
		if(missing_required == true){
			$('#messages').html('<b style="color: red">Missing required fields. Please complete the questions highlighted in red.</b>')
		}else{
			$.post("/save_new_participant",{
				participant: {
					first_name: first_name,
					last_name: last_name,
					middle_name: middle_name,
					phone_number: phone,
					email_address: email,
					home_library: home_library,
					library_card: library_card,
					club: club,
					school: school,
					send_to_school: send_to_school,
					got_shirt: got_shirt,
					shirt_size: shirt_size,
					wants_craft_kit: wants_craft_kit,
				}
			}).done(function(data){
				if(data.message == 'success'){
					$('#registration').hide()
					$('#confirmation').show()
					$('#register_name').html(first_name)
				}else{
					$('#messages').html('<b style="color: red">Something went wrong. Please try again later or contact your library to complete summer reading club registration.</b>')
				}
			});
		}
	}
	function register_another(){
		$('#shirt_size').val('')
		$("input[name='club']:checked").prop('checked', false)
		$('#send_to_school:checked').prop('checked', false)
		$('#got_shirt:checked').prop('checked', false)
		reset_school_type()
		reset_school_list()
		$('#ask_grade_level').hide()
		$('#ask_send_school').hide()
		$('#first_name').val('')
		$('#middle_name').val('')
		$('#confirmation').hide()
		$('#registration').show()
	}

  function get_user_data(){
    library_card = $("#library_card").val()
    $.post("/get_eg_data.js",{card: library_card})
  }
</script>