<h3>Editing <%= @participant.full_name %></h3>

<form>
	<div class="row">
		<div class="col-sm-4">
			<label for="first_name" class="required">First Name:</label>
			<input type="text" class="form-control" id="first_name" value="<%= @participant.first_name %>">
		</div>
		<div class="col-sm-4">
			<label for="last_name">Middle Name <i>(optional)</i>:</label>
			<input type="text" class="form-control" id="middle_name" value="<%= @participant.middle_name %>">
		</div>
		<div class="col-sm-4">
			<label for="last_name" class="required">Last Name:</label>
			<input type="text" class="form-control" id="last_name" value="<%= @participant.last_name %>">
		</div>
	</div>
	</br>
	<div class="row">
		<div class="col-sm-4">
			<label for="phone" class="required">Phone Number:</label>
			<input type="tel" class="form-control" id="phone" value="<%= @participant.phone_number %>">
		</div>
		<div class="col-sm-4">
			<label for="email">Email Address <i>(optional)</i>:</label>
			<input type="email" class="form-control" id="email" value="<%= @participant.email_address %>">
		</div>
		<div class="col-sm-4">
			<label for="home_library" class="required" id="home_library_list">Home Library:</label>
			<select class="form-control" id="home_library">
				<% @home_libraries.each do |l| %>
  					<option value="<%= l[:value] %>" <% if l[:value] == @participant.home_library %> selected <% end %>>
  						<%= l[:text] %>
  					</option>
  				<% end %>
			</select>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-5">
			<label for="first_name">Library Card # <i>(Required for Online Reporting):</i></label>
			<input type="tel" class="form-control" id="library_card" value="<%= @participant.library_card %>">
		</div>
		<div class="col-sm-5">
			<label id="school_label" for="all_schools" class="school_list">School:</label>
			<select class="form-control" id="teen_school">
				<% @all_schools.each do |s| %>
  					<option value="<%= s[:value] %>" <% if s[:value] == @participant.school %> selected <%end%>>
  						<%= s[:text] %>
  					</option>
  				<% end %>
			</select>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<label for="select_a_club" id="select_a_club" class="required">Reading Club:</label>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<label class="radio-inline">
  				<input type="radio" name="club" value="pre-readers" <% if 'pre-readers' == @participant.club %> checked <%end%>>
  				Pre-Readers <i>(ages 0 - 4)</i>
			</label>
		</div>
		<div class="col-sm-3">
			<label class="radio-inline">
  				<input type="radio" name="club" value="readers" <% if 'readers' == @participant.club %> checked <%end%> >
  				Readers <i>(ages 5 - 12)</i>
			</label>
		</div>
		<div class="col-sm-3">
			<label class="radio-inline">
  				<input type="radio" name="club" value="teens" <% if 'teens' == @participant.club %> checked <%end%>>
  				Teens <i>(ages 13 - 19)</i>
			</label>
		</div>
		<div class="col-sm-3">
			<label class="radio-inline">
  				<input type="radio" name="club" value="adults" <% if 'adults' == @participant.club %> checked <%end%>>
  				Adults <i>(ages 17+)</i>
			</label>
		</div>
	</div>
</form>
</br>
<div class="row">
	<div class="col-sm-12" id="messages" style="margin-bottom: 10px;">
	</div>
</div>
<div class="row">
	<div class="col-sm-5">
		<button class="btn btn-success" onclick="update()">Update</button>
		<button class="btn btn-danger" onclick="update()">Mark Inactive</button>
	</div>
</div>