<h3>Editing Participant</h3>

<form>
	<div class="row">
		<div class="col-sm-4">
			<label for="first_name" class="required">First Name:</label>
			<input type="text" class="form-control" id="first_name" value="<%= @participant.first_name %>">
		</div>
		<div class="col-sm-4">
			<label for="last_name">Middle Name <i>(optional)</i>:</label>
			<input type="text" class="form-control" id="middle_name" value="<%= @participant.middle_name %>">
		</div>
		<div class="col-sm-4">
			<label for="last_name" class="required">Last Name:</label>
			<input type="text" class="form-control" id="last_name" value="<%= @participant.last_name %>">
		</div>
	</div>
	</br>
	<div class="row">
		<div class="col-sm-4">
			<label for="phone" class="required">Phone Number:</label>
			<input type="tel" class="form-control" id="phone" value="<%= @participant.phone_number %>">
		</div>
		<div class="col-sm-4">
			<label for="email">Email Address <i>(optional)</i>:</label>
			<input type="email" class="form-control" id="email" value="<%= @participant.email_address %>">
		</div>
		<div class="col-sm-4">
			<label for="home_library" class="required" id="home_library_list">Home Library:</label>
			<select class="form-control" id="home_library">
				<% @home_libraries.each do |l| %>
  					<option value="<%= l[:value] %>" <% if l[:value] == @participant.home_library %> selected <% end %>>
  						<%= l[:text] %>
  					</option>
  				<% end %>
			</select>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<label for="first_name">Library Card #</label>
			<input type="tel" class="form-control" id="library_card" value="<%= @participant.library_card %>">
		</div>
		<div class="col-sm-4">
			<label for="shirt_size" class="required" id="shirt_size_label">Shirt Size / Patch:</label>
			<select class="form-control" id="shirt_size">
				<% @shirt_sizes_raw.each do |s| %>
  					<option value="<%= s[:value] %>" <% if s[:value] == @participant.shirt_size %> selected <%end%>><%= s[:text] %></option>
  				<% end %>
			</select>
		</div>
		<div class="col-sm-4">
			<label id="school_label" for="all_schools" class="school_list">School:</label>
			<select class="form-control" id="all_schools">
				<% @all_schools.each do |s| %>
  					<option value="<%= s[:value] %>" <% if s[:value] == @participant.school %> selected <%end%>>
  						<%= s[:text] %>
  					</option>
  				<% end %>
			</select>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-5" id="ask_send_school">
			<div class="form-check">
  				<input class="form-check-input" type="checkbox" value="true" id="send_to_school" <% if @participant.send_to_school == true %>checked<% end %>>
  				<label class="form-check-label" for="send_to_school">
   					 Send My Summer Reading Activity to My School
  				</label>
			</div>
		</div>
		<% if @participant.club == 'teens' %>
			<div class="col-sm-5" id="ask_teen_challenge">
				<div class="form-check">
  					<input class="form-check-input" type="checkbox" value="true" id="teen_challenge" <% if @participant.teen_challenge == true %>checked<% end %>>
  					<label class="form-check-label" for="teen_challenge">
   						Completed Teen Challenge
  					</label>
				</div>
			</div>
		<% end %>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="form-check">
	  			<input class="form-check-input" type="checkbox" value="true" id="wants_craft_kit" name="wants_craft_kit" <% if @participant.wants_craft_kit == true %> checked<% end %>>
	  			<label class="form-check-label" for="wants_craft_kit">
	   				 Check this box to recieve a special Summer Reading Club craft kit.
	  			</label>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-sm-4">
			<label for="select_a_club" id="select_a_club" class="required">Reading Club:</label>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<label class="radio-inline">
  				<input type="radio" name="club" value="pre-readers" <% if 'pre-readers' == @participant.club %> checked <%end%>>
  				Pre-Readers <i>(ages 0 - 4)</i>
			</label>
		</div>
		<div class="col-sm-3">
			<label class="radio-inline">
  				<input type="radio" name="club" value="readers" <% if 'readers' == @participant.club %> checked <%end%> >
  				Readers <i>(ages 5 - 12)</i>
			</label>
		</div>
		<div class="col-sm-3">
			<label class="radio-inline">
  				<input type="radio" name="club" value="teens" <% if 'teens' == @participant.club %> checked <%end%>>
  				Teens <i>(ages 13 - 19)</i>
			</label>
		</div>
		<div class="col-sm-3">
			<label class="radio-inline">
  				<input type="radio" name="club" value="adults" <% if 'adults' == @participant.club %> checked <%end%>>
  				Adults <i>(ages 17+)</i>
			</label>
		</div>
	</div>
</form>
</br>
<div class="row">
	<div class="col-sm-12" id="messages" style="margin-bottom: 10px;">
	</div>
</div>
<div class="row">
	<div class="col-sm-5">
		<button class="btn btn-success" onclick="update(<%= @participant.id %>)">Update</button>
		<span id="inactive_toggle">
			<%= render 'inactive_toggle' %> 
		</span>
	</div>
</div>

<script>
	function update(id){
		first_name = $('#first_name').val()
		middle_name = $('#middle_name').val()
		last_name = $('#last_name').val()
		phone = $('#phone').val()
		email = $('#email').val()
		home_library = $('#home_library option:selected').val()
		library_card = $("#library_card").val()
		club = $("input[name='club']:checked").val()
		school = $('#all_schools option:selected').val()
		send_to_school = $('#send_to_school:checked').val()
		teen_challenge = $('#teen_challenge:checked').val()
		shirt_size = $('#shirt_size option:selected').val()
		wants_craft_kit = $("input[name='wants_craft_kit']:checked").val()
		$.post("/update_participant",{
				id: id,
				first_name: first_name,
				last_name: last_name,
				middle_name: middle_name,
				phone_number: phone,
				email_address: email,
				home_library: home_library,
				library_card: library_card,
				club: club,
				school: school,
				send_to_school: send_to_school,
				teen_challenge: teen_challenge,
				shirt_size: shirt_size,
				wants_craft_kit: wants_craft_kit,
			}).done(function(data){
				if(data.message == 'success'){
					$('#messages').html('<b style="color: green">Successfully updated!</b>')
				}else{
					$('#messages').html('<b style="color: red">Something went wrong. Please try again later.</b>')
				}
			}
		);
		window.setTimeout(function() {
			$('#messages').html('');
		}, 5000);
	}

	function set_inactive(id, inactive){
		$.post("/set_inactive.js",{
			id: id,
			inactive: inactive	
		})
	}
</script>