<div class ="row">
	<h2><b>Leader Board</b></h2>
</div>
<%= render 'participant_filter' %>
<div class ="row">
	<% @weeks.each do |w| %>
		<div class="col-sm-4" id="week_radio">
			<label class="radio-inline">
		  		<input type="radio" class="week_selector" name="week_id" value="<%= w.id %>" onchange="update_filter()" <% if w.id == @week.to_i %>checked<% end %>><b><%= w.name %></b> - <i>(<%= w.start_date.strftime('%b %e') %> - <%= w.end_date.strftime('%b %e') %>)</i>
			</label>
		</div>
	<% end %> 
	<div class="col-sm-4" id="overall_radio">
		<label class="radio-inline">
		  	<input type="radio" class="week_selector" name="week_id" value="overall" onchange="update_filter()" <% if !@week %>checked<% end %>><b>Overall</b></i>
		</label>
	</div>
</div>
<div class="row">
	<h3>
		Showing the Top Participants
		<% if @week %>
			for Week Number <%= @week %>
		<% else %>
			Overall
		<% end %>
			in
		<% if @club %>
			the <%= @club.capitalize! %> Club
		<% else %>
			all Clubs
		<% end %>
			at
		<% if @location %>
			<%= @location %>
		<% else %>
			All Locations
		<% end %>
	</h3>
</div>
<div class="row">
	<ol>
		<% @participants.each do |p| %>
			<li>
				<h3><b><%= p.full_name %></b></h3>
				<% if @week %>
					<% if p.club == "pre-readers" %>
						<b>Activities for Week <%= @week %>:</b>
						<%= p.weekly_minutes(@week).to_i / 10  %>
					<% else %>
						<b>Minutes for Week <%= @week %>:</b>
						<%= p.weekly_minutes(@week) %>
					<% end %>
					<br>
				<% end %>
				<% if p.club == "pre-readers" %>
					<b>Total Activities:</b> <%= p.total_minutes.to_i / 10 %>
				<% else %>
					<b>Total Minutes:</b> <%= p.total_minutes %>
				<% end %>
				<br>
				<% if p.club == "pre-readers" %>
					<b>Activity Details:</b>
				<% else %>
					<b>Read:</b>
				<% end %>
				<% if @week %>
					<% p.items.where(:week_id => @week).each do |i| %>
						<%= i.name %>,
					<% end %>
				<% else %>
					<% p.items.each do |i| %>
						<% if i.name != '' %>
							<%= i.name %>,
						<% end %>
					<% end %>
				<% end %>
			</li>
		<% end %>
	</ol>
</div>
<script>
	function update_filter(){
		var week = $("input[name='week_id']:checked").val()
		var club = $('#club option:selected').val()
		var location =  $('#home_library option:selected').val()
		var url = '/leaders?club=' + club + '&location=' + location
		if(week != 'overall'){
			url += '&week=' + week
		} 
		window.location.href = url 
	}
</script>