<h3>
	Showing all <%= number_with_delimiter(@count, :delimiter => ',') %>
	<% if @inactive == 'true' %>
		inactive
	<% end %>
	participants 
	<% if @location %>
		at <%= @location %>
	<% end %>
	<% if @club %>
		in the <%= @club.capitalize %> club
	<% end %>
	- <%= number_with_delimiter(@total_minutes, :delimiter => ',') %> minutes reported
</h3>
<% if @inactive != 'true' %>
	<%= render 'participant_filter' %>
<% end %>
<%= render 'participant_list' %>