<h3>
	Showing all <%= number_with_delimiter(@count, :delimiter => ',') %>
	<% if @inactive == 'true' %>
		inactive
	<% end %>
	participants 
	<% if @location %>
		at <%= @location %>
	<% end %>
	<% if @club %>
		in the <%= @club.capitalize %> club
	<% end %>
	<% if @club != "pre-readers" %>
		- <%= number_with_delimiter(@total_minutes, :delimiter => ',') %> minutes reported
	<% else %>
		- <%= number_with_delimiter((@total_minutes / 10), :delimiter => ',') %> activities reported
	<% end %>
</h3>
<% if @inactive != 'true' %>
	<%= render 'participant_filter' %>
<% end %>
<div class="row">
	<div class="col-sm-12">
		<button type="button" class="btn btn-success btn-large" onclick="download_spreadsheet()">Download As Spreadsheet</button>
		<br>
		<i id="wait_warning" style="display: none">This may take a while...</i>
	</div>
</div>
<%= render 'participant_list', week: false, winner: false %>
<script>
	function update_filter(){
		var club = $('#club option:selected').val()
		var location =  $('#home_library option:selected').val()
		window.location.href= '/list_participants?club=' + club + '&location=' + location
	}

	function download_spreadsheet(){
		var club = $('#club option:selected').val()
		var location =  $('#home_library option:selected').val()
		$('#wait_warning').show()
		window.location.href = '/list_participants.xlsx?club=' + club + '&location=' + location
		setTimeout(function(){$('#wait_warning').hide()}, 5000);

	}
</script>