<h3>
	Showing all <%= @count %> participants 
	<% if @location %>
		at <%= @location %>
	<% end %>
	<% if @club %>
		in the <%= @club.capitalize %> club
	<% end %>  
</h3>
<%= render 'participant_filter' %>
<%= render 'participant_list' %>