<h3>
	Showing all <%= @count %> 
	<% if @inactive == 'true' %>
		inactive
	<% end %>
	participants 
	<% if @location %>
		at <%= @location %>
	<% end %>
	<% if @club %>
		in the <%= @club.capitalize %> club
	<% end %>  
</h3>
<% if @inactive != 'true' %>
	<%= render 'participant_filter' %>
<% end %>
<%= render 'participant_list' %>